# Ex2 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv).

### Step 3. Assign it to a variable called euro12.

In [4]:
url = 'https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/02_Filtering_%26_Sorting/Euro12/Euro_2012_stats_TEAM.csv'
euro12 = pd.read_csv(url)
euro12.dtypes.value_counts()

int64      29
object      5
float64     1
dtype: int64

In [21]:
euro12.columns

Index(['Team', 'Goals', 'Shots on target', 'Shots off target',
       'Shooting Accuracy', '% Goals-to-shots', 'Total shots (inc. Blocked)',
       'Hit Woodwork', 'Penalty goals', 'Penalties not scored', 'Headed goals',
       'Passes', 'Passes completed', 'Passing Accuracy', 'Touches', 'Crosses',
       'Dribbles', 'Corners Taken', 'Tackles', 'Clearances', 'Interceptions',
       'Clearances off line', 'Clean Sheets', 'Blocks', 'Goals conceded',
       'Saves made', 'Saves-to-shots ratio', 'Fouls Won', 'Fouls Conceded',
       'Offsides', 'Yellow Cards', 'Red Cards', 'Subs on', 'Subs off',
       'Players Used'],
      dtype='object')

In [34]:
euro12.shape

(16, 35)

 ### Step 4. Select only the Goal column.

In [23]:
mask = euro12.columns.str.lower().str.contains('goals')
euro12.loc[:,mask].head(2)

   Goals % Goals-to-shots  Penalty goals  Headed goals  Goals conceded
0      4            16.0%              0             2               3
1      4            12.9%              0             0               6

### Step 5. How many team participated in the Euro2012?

In [24]:
euro12['Team'].nunique(), euro12['Team'].unique()

(16, array(['Croatia', 'Czech Republic', 'Denmark', 'England', 'France',
        'Germany', 'Greece', 'Italy', 'Netherlands', 'Poland', 'Portugal',
        'Republic of Ireland', 'Russia', 'Spain', 'Sweden', 'Ukraine'],
       dtype=object))

### Step 6. What is the number of columns in the dataset?

In [31]:
euro12.shape

(16, 35)

### Step 7. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [36]:
discipline = euro12[['Team', 'Yellow Cards', 'Red Cards']]
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### Step 8. Sort the teams by Red Cards, then to Yellow Cards

In [43]:
# discipline.sort_values(['Red Cards', 'Yellow Cards'])
discipline.groupby('Team').sum().sort_values(['Red Cards', 'Yellow Cards'])

                     Yellow Cards  Red Cards
Team
Denmark                         4          0
Germany                         4          0
England                         5          0
Netherlands                     5          0
Ukraine                         5          0
France                          6          0
Russia                          6          0
Czech Republic                  7          0
Sweden                          7          0
Croatia                         9          0
Spain                          11          0
Portugal                       12          0
Italy                          16          0
Republic of Ireland             6          1
Poland                          7          1
Greece                          9          1

### Step 9. Calculate the mean Yellow Cards given per Team

In [46]:
discipline.groupby('Team')['Yellow Cards'].mean()

Team
Croatia                 9
Czech Republic          7
Denmark                 4
England                 5
France                  6
Germany                 4
Greece                  9
Italy                  16
Netherlands             5
Poland                  7
Portugal               12
Republic of Ireland     6
Russia                  6
Spain                  11
Sweden                  7
Ukraine                 5
Name: Yellow Cards, dtype: int64

### Step 9bis. Calculate the mean Yellow Cards for all the teams

In [80]:
discipline.groupby('Team')['Yellow Cards'].mean().mean()

7.4375

### Step 10. Filter teams that scored more than 6 goals

In [47]:
euro12.groupby('Team').filter(lambda x: x['Goals'].sum()>6)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
13,Spain,12,42,33,55.9%,16.0%,100,0,1,0,...,15,93.8%,102,83,19,11,0,17,17,18

In [48]:
euro12[euro12['Goals']>6]['Team']

5     Germany
13      Spain
Name: Team, dtype: object

In [49]:
euro12.query('Goals > 6')['Team']

5     Germany
13      Spain
Name: Team, dtype: object

### Step 11. Select the teams that start with G

In [52]:
euro12[euro12['Team'].str.startswith('G')]

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
5,Germany,10,32,32,47.8%,15.6%,80,2,1,0,...,10,62.6%,63,49,12,4,0,15,15,17
6,Greece,5,8,18,30.7%,19.2%,32,1,1,1,...,13,65.1%,67,48,12,9,1,12,12,20

### Step 12. Select the first 7 columns

In [63]:
euro12.iloc[:,0:7].head(2)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39

### Step 13. Select all columns except the last 3.

In [62]:
euro12.iloc[:,0:-3].head(2)

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0

### Step 14. Present only the Shooting Accuracy from England, Italy and Russia

In [79]:
euro12[euro12['Team'].isin(['England', 'Italy', 'Russia'])][['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [82]:
euro12.loc[euro12['Team'].isin(['England', 'Italy', 'Russia']), ['Team','Shooting Accuracy']]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%