# Wine

### Introduction:

This exercise is a adaptation from the UCI Wine dataset.
The only pupose is to practice deleting data with pandas.

### Step 1. Import the necessary libraries

In [25]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data).

### Step 3. Assign it to a variable called wine

In [3]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data'
df = pd.read_csv(url, header=None)
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

### Step 4. Delete the first, fourth, seventh, nineth, eleventh, thirteenth and fourteenth columns

In [12]:
df = df.drop(columns=df.columns[[0,3,6,8,10,12,13]])
df.head()

      1     2     4    5     7     9     11
0  14.23  1.71  15.6  127  3.06  2.29  1.04
1  13.20  1.78  11.2  100  2.76  1.28  1.05
2  13.16  2.36  18.6  101  3.24  2.81  1.03
3  14.37  1.95  16.8  113  3.49  2.18  0.86
4  13.24  2.59  21.0  118  2.69  1.82  1.04

### Step 5. Assign the columns as below:

The attributes are (donated by Riccardo Leardi, riclea '@' anchem.unige.it):  
1) alcohol  
2) malic_acid  
3) alcalinity_of_ash  
4) magnesium  
5) flavanoids  
6) proanthocyanins  
7) hue

In [20]:
new_names = ['alcohol', 'malic_acid', 'alcalinity_of_ash',
             'magnesium', 'flovonoids', 'proanthocyanins', 'hue']
my_dict = dict(zip(df.columns.values, new_names))
df = df.rename(columns=my_dict)
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,14.23,1.71,15.6,127,3.06,2.29,1.04
1,13.20,1.78,11.2,100,2.76,1.28,1.05
2,13.16,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 6. Set the values of the first 3 rows from alcohol as NaN

In [26]:
df.loc[0:2,'alcohol'] = np.nan
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,NaN,1.71,15.6,127,3.06,2.29,1.04
1,NaN,1.78,11.2,100,2.76,1.28,1.05
2,NaN,2.36,18.6,101,3.24,2.81,1.03
3,14.37,1.95,16.8,113,3.49,2.18,0.86
4,13.24,2.59,21.0,118,2.69,1.82,1.04

### Step 7. Now set the value of the rows 3 and 4 of magnesium as NaN

In [29]:
df.loc[2:3,'magnesium'] = np.nan
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,NaN,1.71,15.6,127.0,3.06,2.29,1.04
1,NaN,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,2.36,18.6,NaN,3.24,2.81,1.03
3,14.37,1.95,16.8,NaN,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 8. Fill the value of NaN with the number 10 in alcohol and 100 in magnesium

In [31]:
df = df.fillna(value={'alcohol':10, 'magnesium':100})
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,10.00,2.36,18.6,100.0,3.24,2.81,1.03
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,13.24,2.59,21.0,118.0,2.69,1.82,1.04

### Step 9. Count the number of missing values

In [32]:
df.isna().sum()

alcohol              0
malic_acid           0
alcalinity_of_ash    0
magnesium            0
flovonoids           0
proanthocyanins      0
hue                  0
dtype: int64

### Step 10.  Create an array of 10 random numbers up until 10

In [35]:
arr = np.random.randint(1,11,10)
arr

array([ 5,  6, 10,  5,  2,  4,  8,  4,  8,  7])

### Step 11.  Use random numbers you generated as an index and assign NaN value to each of cell.

In [39]:
# for i in arr:
#     df.loc[i,:]=np.nan
df.iloc[arr]=np.nan
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Step 12.  How many missing values do we have?

In [40]:
df.isna().sum().sum()

49

### Step 13. Delete the rows that contain missing values

In [41]:
df = df.dropna(how='any', axis='rows')
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
3,14.37,1.95,16.8,100.0,3.49,2.18,0.86
9,13.86,1.35,16.0,98.0,3.15,1.85,1.01
11,14.12,1.48,16.8,95.0,2.43,1.57,1.17

### Step 14. Print only the non-null values in alcohol

In [49]:
for x in list(df[df.notna()]['alcohol']):
    print(x, end=' | ')

10.0 | 10.0 | 14.37 | 13.86 | 14.12 | 13.75 | 14.75 | 14.38 | 13.63 | 14.3 | 13.83 | 14.19 | 13.64 | 14.06 | 12.93 | 13.71 | 12.85 | 13.5 | 13.05 | 13.39 | 13.3 | 13.87 | 14.02 | 13.73 | 13.58 | 13.68 | 13.76 | 13.51 | 13.48 | 13.28 | 13.05 | 13.07 | 14.22 | 13.56 | 13.41 | 13.88 | 13.24 | 13.05 | 14.21 | 14.38 | 13.9 | 14.1 | 13.94 | 13.05 | 13.83 | 13.82 | 13.77 | 13.74 | 13.56 | 14.22 | 13.29 | 13.72 | 12.37 | 12.33 | 12.64 | 13.67 | 12.37 | 12.17 | 12.37 | 13.11 | 12.37 | 13.34 | 12.21 | 12.29 | 13.86 | 13.49 | 12.99 | 11.96 | 11.66 | 13.03 | 11.84 | 12.33 | 12.7 | 12.0 | 12.72 | 12.08 | 13.05 | 11.84 | 12.67 | 12.16 | 11.65 | 11.64 | 12.08 | 12.08 | 12.0 | 12.69 | 12.29 | 11.62 | 12.47 | 11.81 | 12.29 | 12.37 | 12.29 | 12.08 | 12.6 | 12.34 | 11.82 | 12.51 | 12.42 | 12.25 | 12.72 | 12.22 | 11.61 | 11.46 | 12.52 | 11.76 | 11.41 | 12.08 | 11.03 | 11.82 | 12.42 | 12.77 | 12.0 | 11.45 | 11.56 | 12.42 | 13.05 | 11.87 | 12.07 | 12.43 | 11.79 | 12.37 | 12.04 | 12.86 | 12.88 | 12.81 | 12.7 | 12.51 | 12.6 | 12.25 | 12.53 | 13.49 | 12.84 | 12.93 | 13.36 | 13.52 | 13.62 | 12.25 | 13.16 | 13.88 | 12.87 | 13.32 | 13.08 | 13.5 | 12.79 | 13.11 | 13.23 | 12.58 | 13.17 | 13.84 | 12.45 | 14.34 | 13.48 | 12.36 | 13.69 | 12.85 | 12.96 | 13.78 | 13.73 | 13.45 | 12.82 | 13.58 | 13.4 | 12.2 | 12.77 | 14.16 | 13.71 | 13.4 | 13.27 | 13.17 | 14.13 |

### Step 15.  Reset the index, so it starts with 0 again

In [53]:
df = df.reset_index(drop=True)
df.head()

,alcohol,malic_acid,alcalinity_of_ash,magnesium,flovonoids,proanthocyanins,hue
0,10.00,1.71,15.6,127.0,3.06,2.29,1.04
1,10.00,1.78,11.2,100.0,2.76,1.28,1.05
2,14.37,1.95,16.8,100.0,3.49,2.18,0.86
3,13.86,1.35,16.0,98.0,3.15,1.85,1.01
4,14.12,1.48,16.8,95.0,2.43,1.57,1.17

### BONUS: Create your own question and answer it.