# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [27]:
import sys
import pandas as pd
pd.set_option('display.max_rows',15)
import numpy as np
import re

is_colab = 'google.colab' in sys.modules
is_colab

False

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [8]:
if is_colab == True :
    # Google Colab version
    !wget https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv
    chipo = pd.read_csv('chipotle.tsv', sep = '\t')
else:
    # PC version
    url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    chipo = pd.read_csv(url, sep = '\t')
chipo.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

### Step 4. How many products cost more than $10.00?

In [84]:
# Solution 1
f_conv = lambda x: float(re.findall(r'[0-9.]+', x)[0])
chipo.insert(5, 'item_price_f', chipo['item_price'].apply(f_conv))
mask = chipo['item_price_f']>10
len(chipo.loc[mask, 'item_name'].unique())

31

In [79]:
# Solution 2
chipo.query('item_price_f > 10').item_name.nunique()

31

In [86]:
chipo.query('item_price_f > 10')
chipo[chipo['item_price_f']>10]

,order_id,quantity,item_name,choice_description,item_price,item_price_f
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98,16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98,10.98
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75,11.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25,11.25
23,12,1,Chicken Burrito,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",$10.98,10.98
39,19,1,Barbacoa Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$11.75,11.75
42,20,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$11.25,11.25
...,...,...,...,...,...,...
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",$11.75,11.75
4608,1829,1,Veggie Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.25,11.25
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",$11.25,11.25
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25,11.25

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [28]:
chipo[mask].loc[:,['item_name', 'item_price']]

               item_name item_price
4           Chicken Bowl    $16.98
5           Chicken Bowl    $10.98
7          Steak Burrito    $11.75
13          Chicken Bowl    $11.25
23       Chicken Burrito    $10.98
39         Barbacoa Bowl    $11.75
42          Chicken Bowl    $11.25
...                  ...        ...
4607       Steak Burrito    $11.75
4608      Veggie Burrito    $11.25
4610       Steak Burrito    $11.75
4611      Veggie Burrito    $11.25
4617       Steak Burrito    $11.75
4618       Steak Burrito    $11.75
4619  Chicken Salad Bowl    $11.25

[1130 rows x 2 columns]

### Step 6. Sort by the name of the item

In [29]:
chipo[mask].loc[:,['item_name', 'item_price']].sort_values('item_name')

              item_name item_price
3389  6 Pack Soft Drink    $12.98
1643      Barbacoa Bowl    $11.75
919       Barbacoa Bowl    $11.75
3547      Barbacoa Bowl    $11.75
4510      Barbacoa Bowl    $11.49
4380      Barbacoa Bowl    $11.75
4485      Barbacoa Bowl    $11.75
...                 ...        ...
4261  Veggie Salad Bowl    $11.25
1884  Veggie Salad Bowl    $11.25
186   Veggie Salad Bowl    $11.25
295   Veggie Salad Bowl    $11.25
3889  Veggie Soft Tacos    $16.98
738   Veggie Soft Tacos    $11.25
1699  Veggie Soft Tacos    $11.25

[1130 rows x 2 columns]

### Step 7. What was the quantity of the most expensive item ordered?

In [45]:
max_price = chipo['item_price_f'].max()
print("-- price of most expensive item ordered : ", max_price)
print("\n -- most expensive item ordered: \n", chipo[chipo['item_price_f']==max_price])
print("\n -- total nb of this item ordered: ",chipo[chipo['item_price_f']==max_price]['quantity'].sum())

-- price of most expensive item ordered :  44.25

 -- most expensive item ordered:
       order_id  quantity                     item_name choice_description  \
3598      1443        15  Chips and Fresh Tomato Salsa                NaN

     item_price  item_price_f
3598    $44.25          44.25

 -- total nb of this item ordered:  15

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [49]:
chipo[chipo['item_name']=='Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times did someone order more than one Canned Soda?

In [78]:
c1 = chipo['item_name']=='Canned Soda'
c2 = chipo['quantity']>1
ind = (chipo[c1&c2]).index
print("Canned Soda ordered twice or more : ", str(len(ind)), ' times.')
chipo.loc[ind,:]

Canned Soda ordered twice or more :  20  times.

,order_id,quantity,item_name,choice_description,item_price,item_price_f
18,9,2,Canned Soda,[Sprite],$2.18,2.18
51,23,2,Canned Soda,[Mountain Dew],$2.18,2.18
162,73,2,Canned Soda,[Diet Coke],$2.18,2.18
171,76,2,Canned Soda,[Diet Dr. Pepper],$2.18,2.18
350,150,2,Canned Soda,[Diet Coke],$2.18,2.18
352,151,2,Canned Soda,[Coca Cola],$2.18,2.18
698,287,2,Canned Soda,[Coca Cola],$2.18,2.18
...,...,...,...,...,...,...
2235,901,4,Canned Soda,[Sprite],$4.36,4.36
2905,1156,2,Canned Soda,[Coca Cola],$2.18,2.18
2906,1156,2,Canned Soda,[Sprite],$2.18,2.18
3152,1258,2,Canned Soda,[Dr. Pepper],$2.18,2.18
3364,1349,2,Canned Soda,[Coca Cola],$2.18,2.18
3592,1440,2,Canned Soda,[Diet Coke],$2.18,2.18
3866,1550,2,Canned Soda,[Mountain Dew],$2.18,2.18